*
!sudoers.d/
!sudoers.d/*
!dbus-1/
!dbus-1/system.d/
!dbus-1/system.d/*

# Files Start
!.etckeeper
!.gitignore
!crypttab.initramfs
!fstab
!hostname
!hosts
!locale.gen
!locale.conf
!localtime
!mkinitcpio.conf
!resolv.conf
!vconsole.conf
!mkinitcpio.d/
!mkinitcpio.d/linux.preset
!pacman.d/
!pacman.d/mirrorlist
!systemd/
!systemd/network/
!systemd/network/20-wired.network
!systemd/network/25-wireless.network
!systemd/resolved.conf.d/
!systemd/resolved.conf.d/dns_over_tls.conf
!systemd/system/
!systemd/system/enable-console-blanking.service
!systemd/system/ly.service.d/
!systemd/system/ly.service.d/override.conf
!systemd/system/systemd-networkd-wait-online.service.d/
!systemd/system/systemd-networkd-wait-online.service.d/override.conf
!systemd/system/-.slice.d/
!systemd/system/-.slice.d/override.conf
!systemd/system/user.slice.d/
!systemd/system/user.slice.d/override.conf
!systemd/timesyncd.conf
!systemd/zram-generator.conf
!udev/
!udev/rules.d/
!udev/rules.d/50-usb-ssd-trim.rules
!udev/rules.d/50-backlight.rules
!X11/
!X11/Xwrapper.config
!X11/xorg.conf.d/
!X11/xorg.conf.d/10-monitor.conf
