*
!sudoers.d/
!sudoers.d/*
!dbus-1/

# Files Start
!.etckeeper
!.gitignore
!crypttab.initramfs
!clight/
!clight/modules.conf.d/
!clight/modules.conf.d/backlight.conf
!clight/modules.conf.d/daytime.conf
!clight/modules.conf.d/dimmer.conf
!clight/modules.conf.d/dpms.conf
!clight/modules.conf.d/gamma.conf
!clight/modules.conf.d/inhibit.conf
!clight/modules.conf.d/keyboard.conf
!clight/modules.conf.d/screen.conf
!clight/modules.conf.d/sensor.conf
!dbus-1/system.d/
!dbus-1/system.d/iwd-allow-read.conf
!fstab
!hostname
!hosts
!howdy/
!howdy/config.ini
!locale.gen
!locale.conf
!localtime
!mkinitcpio.conf
!resolv.conf
!vconsole.conf
!mkinitcpio.d/
!mkinitcpio.d/linux.preset
!modprobe.d/
!modprobe.d/i915.conf
!modprobe.d/nvidia.conf
!pacman.d/
!pacman.d/mirrorlist
!pam.d/
!pam.d/login
!pam.d/ly
!pam.d/sudo
!systemd/
!systemd/network/
!systemd/network/20-wired.network
!systemd/network/25-wireless.network
!systemd/resolved.conf.d/
!systemd/resolved.conf.d/dns_over_tls.conf
!systemd/system/
!systemd/system/enable-console-blanking.service
!systemd/system/ly.service.d/
!systemd/system/ly.service.d/override.conf
!systemd/system/systemd-networkd-wait-online.service.d/
!systemd/system/systemd-networkd-wait-online.service.d/override.conf
!systemd/system/-.slice.d/
!systemd/system/-.slice.d/override.conf
!systemd/system/user.slice.d/
!systemd/system/user.slice.d/override.conf
!systemd/timesyncd.conf
!systemd/zram-generator.conf
!udev/
!udev/rules.d/
!udev/rules.d/50-usb-ssd-trim.rules
!udev/rules.d/50-backlight.rules
!X11/
!X11/Xwrapper.config
!X11/xorg.conf.d/
!X11/xorg.conf.d/20-intel.conf
!X11/xorg.conf.d/20-nvidia.conf
!X11/xorg.conf.d/30-touchpad.conf
