*
!sudoers.d/
!sudoers.d/*

# Files Start
!.etckeeper
!.gitignore
!asound.conf
!clight/
!clight/modules.conf.d/
!clight/modules.conf.d/backlight.conf
!clight/modules.conf.d/daytime.conf
!clight/modules.conf.d/dimmer.conf
!clight/modules.conf.d/dpms.conf
!clight/modules.conf.d/gamma.conf
!clight/modules.conf.d/inhibit.conf
#!clight/modules.conf.d/keyboard.conf
!clight/modules.conf.d/screen.conf
!clight/modules.conf.d/sensor.conf
!crypttab.initramfs
!dbus-1/
!dbus-1/system.d/
!dbus-1/system.d/iwd-allow-read.conf
!fstab
!hostname
!hosts
!locale.gen
!locale.conf
!localtime
!makepkg.conf
!mkinitcpio.conf
!resolv.conf
!vconsole.conf
!mkinitcpio.d/
!mkinitcpio.d/linux.preset
!pacman.d/
!pacman.d/mirrorlist
!polkit-1/
!polkit-1/rules.d/
!polkit-1/rules.d/10-proteus-nekoray.rules
!samba/
!samba/smb.conf
!systemd/
!systemd/logind.conf.d/
!systemd/logind.conf.d/LidSwitchDoesNothing.conf
!systemd/network/
!systemd/network/20-macvtap0.netdev
!systemd/network/20-macvtap0.network
!systemd/network/20-wired.network
!systemd/network/25-wireless.network
!systemd/resolved.conf.d/
!systemd/resolved.conf.d/dns_over_tls.conf
!systemd/system/
!systemd/system/enable-console-blanking.service
!systemd/system/ly.service.d/
!systemd/system/ly.service.d/override.conf
!systemd/system/systemd-networkd-wait-online.service.d/
!systemd/system/systemd-networkd-wait-online.service.d/override.conf
!systemd/system/-.slice.d/
!systemd/system/-.slice.d/override.conf
!systemd/system/user.slice.d/
!systemd/system/user.slice.d/override.conf
!systemd/timesyncd.conf
!systemd/zram-generator.conf
!udev/
!udev/rules.d/
!udev/rules.d/50-backlight.rules
!udev/rules.d/50-external-monitor.rules
!udev/rules.d/50-usb-ssd-trim.rules
!X11/
!X11/Xwrapper.config
