ACTION=="remove", SUBSYSTEM=="input", ENV{ID_BUS}=="bluetooth", TAG=="seat", RUN+="/usr/bin/su proteus -c 'export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$$(id -u)/bus; [ ! \"$$(playerctl --list-all 2>&1)\" = \"No players found\" ] && playerctl --all-players pause || true'"
ACTION=="add", SUBSYSTEM=="input", ENV{ID_BUS}=="bluetooth", TAG=="seat", RUN+="/usr/bin/su proteus -c 'sleep 2.3; export XDG_RUNTIME_DIR=/run/user/$$(id -u); oid=$$(wpctl status -n | awk \"BEGIN { A=0; S=0; } /^Audio/ { A=1; } /Sinks/ { S=1; } /Sources/ { S=0; } { if (A==1 && S==1 && /[[:digit:]]+\./) { print; } }\" | sed \"s/^.* \([[:digit:]]*\)\. \([[:alnum:]_.-]*\).*$$/\1\t\2/\" | awk \"/bluez_output/ { print \$$1; }\") && [ -n \"$$oid\" ] && (wpctl set-default $$oid; playerctl --all-players play) || true'"
