[Unit]
Description=aria2 Daemon
Documentation=man:aria2c(1)
Requires=mnt-storage3.mount
PartOf=mnt-storage3.mount
After=network-online.target mnt-storage3.mount
Wants=network-online.target

[Service]
Type=forking
User=%i
ExecStart=/usr/bin/aria2c --conf-path=/mnt/storage3/aria2/config/aria2.conf
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
