[Unit]
Description=Customed sleep actions
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/systemctl stop sing-box.service yggdrasil.service iwd.service bluetooth.service
ExecStart=-/usr/bin/modprobe -r mt7921e btusb snd_hda_scodec_tas2781_i2c snd_soc_tas2781_fmwlib snd_soc_tas2781_comlib thunderbolt
ExecStop=-/bin/sh -c '/usr/bin/modprobe btusb; /usr/bin/modprobe mt7921e; /usr/bin/modprobe snd_hda_scodec_tas2781_i2c; /usr/bin/modprobe thunderbolt'
ExecStop=-/usr/bin/systemctl start bluetooth.service iwd.service yggdrasil.service sing-box.service

[Install]
WantedBy=sleep.target
