[Unit]
Description=A tool for Arknights, for user %i
Documentation=man:maa(1)
After=network.target waydroid-container.service

[Service]
Type=oneshot
User=%i
#ExecStartPre=/usr/bin/sh -c 'DBUS_SESSION_BUS_ADDRESS=path=/run/user/$(id -u %i)/bus echo $DBUS_SESSION_BUS_ADDRESS && waydroid session start'
ExecStart=/usr/bin/sh -c 'nohup env DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u %i)/bus XDG_RUNTIME_DIR=/run/user/$(id -u %i) WAYLAND_DISPLAY=wayland-1 waydroid session start > /tmp/waydroid.log 2>&1 &'
ExecStart=/usr/bin/sh -c 'while [ -z "$(cat /tmp/waydroid.log | grep -P -- Android\ with\ user\ [0-9]+\ is\ ready)" ]; do sleep 1; done; export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u %i)/bus XDG_RUNTIME_DIR=/run/user/$(id -u %i) WAYLAND_DISPLAY=wayland-1; waydroid app launch com.hypergryph.arknights && maa startup -p defaults Official && maa run infrast -p defaults && maa run collect -p defaults && maa fight '1-7' -p defaults; waydroid session stop'
ExecStop=/usr/bin/waydroid session stop
