[Unit]
Description=A tool for Arknights

[Timer]
Unit=maa@%i.service
OnCalendar=*-*-* 18:00:00
OnCalendar=*-*-* 04:00:00
OnCalendar=*-*-* 12:00:00

[Install]
WantedBy=timers.target
