[Unit]
Description=NVIDIA system suspend/hibernation actions
#Before=nvidia-suspend.service nvidia-hibernate.service
Before=systemd-suspend.service systemd-hibernate.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh /etc/systemd/system/nvidia-kill-app-before-suspend-hibernate.sh

[Install]
WantedBy=systemd-suspend.service systemd-hibernate.service
